# This project
data/cache/
data/output/
.env

# Dependencies
node_modules/

# Build output
dist/
*.tgz

# Coverage
coverage/
.nyc_output

# Logs
logs
*.log
npm-debug.log*

# Snyk
.dccache

# Misc
.cache
.eslintcache
.node_repl_history
